@import url("./fonts.css");
@import url("./variables.css");

body,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

:visited {
  color: inherit;
}

:link {
  color: inherit;
  text-decoration: none;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* === */

.unicon svg{
  position: relative;
  top: 3px;
}

.router-view {
  font-family: "pretendard";
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.router-view.no-cursor {
  cursor: none;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section{
  margin: 0 0 4rem 0;
}

@media (max-width: 700px){
  .section{
    margin: 0 0 3rem 0;
  }
}