.container.words {
  flex-wrap: wrap;
  width: 100%;
  height: 100vh; /* 화면 높이 전체를 차지 */
  overflow: hidden;
  background-color: var(--main);
}

.center-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 2;
}

.center-hint {
  font-family: "pretendard";
  font-weight: 400;
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 3px;
  font-style: italic;
}
.center-word {
  background-color: var(--highlight);
  font-family: "ghana";
  padding: 0 0.5rem;
  font-size: 3rem;
  box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* cursor: pointer; */
  height: 8rem;
  width: 18rem;
}
.center-word div {
  margin: 0.3rem 0;
}

.bg-white {
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.word {
  margin: 0 5px;
  font-size: 16px; /* 글자 크기 */
  white-space: pre-line;
  font-family: "ghana";
  font-size: 2rem;
  color: var(--sub);
}

.word.highlight {
  color: var(--highlight);
}
