.main-container {
  margin: 5rem 0;
  font-size: 1.1rem;
  width: 80%;
  max-width: 700px;
}

.page-icon img {
  height: 8rem;
}

.title {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 0 1.5rem 0;
}

.text {
  line-height: 1.5rem;
  word-break: keep-all;
}

.highlight {
  color: var(--main-pink);
  font-weight: 600;
}

.changing-text-container {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.changing-text {
  color: var(--main-pink);
  white-space: nowrap; /* 글자가 줄바꿈되지 않도록 */
  overflow: hidden; /* 글자 길이만큼만 표시 */
}

.cursor {
  display: inline-block;
  width: 0.08em;
  height: 1em;
  background-color: var(--main-pink);
  margin: 0 0em 0 0.15rem;
  position: relative;
  top: 6px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.subtitle {
  font-weight: 700;
  font-size: 2rem;
  margin: 0 0 1rem 0;
}

.subtitle .unicon {
  margin: 0 0.5rem 0 0;
}
.small-title .unicon {
  margin: 0 0.3rem 0 0;
}
.intro-section,
.career-section {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro-container,
.career-container {
  width: 100%;
  height: fit-content;
  display: block;
  padding: 0.5rem 1rem;
  margin: 0 0 0.5rem 0;
  background-color: var(--bg-pink);
}

.small-title {
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0 0 0.5rem 0;
}

.small-title .unicon svg {
  top: 5px;
}

.lang-section {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 1.5rem;
  /* justify-content: center; */
  justify-content: space-around;
  flex-wrap: wrap;
}

.lang-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.lang-container img {
  height: 50px;
}

.lang-container .img_L{
  height: 45px
}

.lang-container .img_XL{
  height: 35px;
}

.lang-info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.career-container .small-title {
  color: var(--highlight-pink);
}

.career-list{
  font-size: 1rem;
}

.career-list ul{
  width: 90%;
  padding: 0;
  margin: 0 auto;
}

.career-list li{
  margin: .5rem 0;
}

/* .career-list li:last-child{
  margin: 0;
} */

@media (max-width: 768px) {
  .changing-text-container {
    font-size: 2.5rem;
  }
}

@media (max-width: 700px) {
  .main-container {
    font-size: 1rem;
  }
  .main-container,
  .lang-section {
    width: 90%;
  }
  .title {
    margin: 0 0 1rem 0;
  }
  .page-icon {
    text-align: center;
    height: 7rem;
  }
  .page-icon img {
    height: 7rem;
  }
  .changing-text-container {
    font-size: 1.5rem;
  }
  .subtitle {
    font-size: 1.5rem;
  }
  .small-title {
    font-size: inherit;
  }
  .career-list ul{
    width: 85%;
  }
}

@media (max-width: 500px) {
  .changing-text-container {
    font-size: 1.4rem;
    gap: 0.2rem;
  }
  .lang-container {
    gap: 0.2rem;
  }
  .lang-container img {
    height: 40px;
  }
  .lang-container .img_L{
    height: 35px
  }
  .lang-container .img_XL{
    height: 25px;
  }
  .lang-info {
    gap: 0;
  }
  .career-list ul{
    width: 80%;
  }
}
