@charset "utf-8";

:root {
  --test-color: rgb(250, 235, 215);
  --main: #386C0B;
  --highlight: #386C0B;
  --black: rgb(25, 15, 27);
  --sub: rgb(255, 201, 206);
  --bg: #cad5ca80;
  --gray: rgb(84, 78, 88);
  --footer: #44404F;
}
