@charset "utf-8";

:root {
  --test-color: rgb(250, 235, 215);
  --main-pink: rgb(249, 161, 169);
  --highlight-pink: rgb(240, 132, 141);
  --main-black: rgb(25, 15, 27);
  --sub-pink: rgb(255, 201, 206);
  --gray: rgb(84, 78, 88);
}
